
body {
	background-color: #fffdfa;
	color: black;
	font-family:Verdana;
	font-size: 0.9em;
	margin:0;
	padding:0;
	line-height:1.4em;
}
a.other {
	color: #585858;
}
a.gemini {
	color: navy;
}

div.gopher {
	font-family:Consolas;
	line-height:1.2em;
	padding-top:0.05em
}

h1 {
	font-size: 1.3em;
	margin-top: 0em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.1em;
	margin-top: 0em;
	margin-bottom: 0;

}

h3 {
	font-size: 0.9em;
	color: black;
	margin-top: 0em;
	margin-bottom: 0;
}

h1, h2 {
	color: #262018;
}

span.link-gliph {
	font-size:1.4em;
}

span.decorator-gliph {
	font-size:1.1em;
	text-decoration: none;
	color: #004d00;
}

pre div {
	line-height: 0em;
	border-width: 0em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.bullet {
  padding-left: 1.2em ;
  text-indent: -0.85em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 


div.gemini-link {
  padding-left: 1.2em ;
  text-indent: -1.45em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 

div.other-link {
  padding-left: 1.2em ;
  text-indent: -1.68em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 

div.nimigem-link {
	padding:0px;
	margin:0px;
	border:0px;
} 

div.gopher.other-link {
  text-indent: -1.95em ;
}
div.gopher.gemini-link {
  text-indent: -1.75em ;
}

div.blockquote {
	padding-left: 1em ;
	padding-right: 1em ;
	margin-left: 2em;
	margin-right: 2em;
	border-style: solid;
	border-width: 0 0 0 1px;
	background:#fafaff;
	border-color:#000000;
	font-style: italic;
}


div.edit-container {
	/*
	border-style: solid;
	border-color:#000000;
	*/
	margin: 0.7em;
	padding-right:0.4em;
}

pre.inline {
	background-color: #fafaff;
	font-family:Consolas;
	border-width:1px;
	padding:0.7em;
	margin:0.7em;
	line-height: 100%;
	border-style: solid;
	border-color:#d0d0d0;
	border-radius: 4px;
	overflow-x: hidden;
	overflow-y:hidden;
	padding-bottom:1.3em;	/*to allow space for scroll bar to appear if necessary*/
	padding-top:1.3em;	/*same as for bottom for visual balance*/
	min-width:60%;
}

textarea:hover {
		/* horizontal scrollbars appear if necessary when hovered*/
		border-color:chocolate;
		overflow-x: auto;
}

textarea {

	padding:0.4em;
	min-width:70%;
	font-family:Consolas;
	width:99%;		/*tweak to get CSS to work*/
	background-color: #ffffff;
	border-style: solid;
	border-color:navy;
	border-width:1px;

}

/* scrollbars appear if necessary when hovered*/
pre.inline:hover {
	overflow-x: auto;
}


div.content-container{
	border-radius: 10px;
	border:1px solid #262018;
	margin:0.4em;
	padding:2em;
	background: #fffdfa;
}

div.toc1 {
	margin-left:0em;
	margin-top:0.5em;
	line-height:1.2em;
}

div.toc2 {
	margin-left:1em;
	margin-top:0.3em;
	line-height:1.2em;
}

div.toc3 {
	margin-left:1.5em;
	margin-top:0.3em;
	line-height:1.2em;
}


#toc-container {
	width:150px;
	font-size:0.85em;
	margin-top:2.5em;
	background:#fffdfa;
	clear:both;
	padding:1em;
	float:right;
	border:1px solid #e0e0e0;
}

#toc-label {
	margin-bottom:1em;
	font-weight:bold
}

a.toc {
	text-decoration: none;
	color: #262018;
	font-height:0.5em;
}

a.toc:hover {
	background:#efefef;
}

a.nimigem {
		text-decoration: none;
		color:black;
		display: block;
		margin-left:0.7em;
		margin-right:0.7em;
		border-width: 1px;
		border-color:#a0a0a0;
		background:#efefef;
		padding:0.4em;
		text-align:center;
		border-style:outset;
		width:60%;
		margin:auto;
		max-width:20em;

/*cursor:default;*/
}

a.nimigem:hover {
		color:chocolate; /*to hint at dynamic capability*/
		border:chocolate;
}

#navigation-container-toc {
	float:right;
	min-width:100px;
	max-width:190px;
	margin-left:1em;
	margin-bottom:1em;
}

#navigation-container-no-toc {
	float:right;
	min-width:83px;
	max-width:83px;
	margin-left:1em;
	margin-bottom:1em;
}

div.identicon-container {   
	position: relative;   
	display: block; 
	margin:0px;
} 

img.mask {   
	position: absolute;   
	top: 0;   
	left: 0; 
}

img.cropped {
	width:80px;
	height:80px;
	border:0px;
}

div.placeholder-mask-container {
	background:white;
	height:80px;
	float:right;
	
}

		