body {
	background-color: #222827;
	color: #e0e0e0;
	font-family:Consolas,Courier New;
	font-size: 1em;
	margin-left:3.5em;
	margin-right:3.5em;
	
}
a {
	color: white;
}

h1 {
	font-size: 1.3em;
	margin-top: 0.3em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.1em;
	margin-top: 0.2em;
	margin-bottom: 0;

}

h3 {
	font-size: 0.9em;
	margin-top: 0.2em;
	margin-bottom: 0;
}



div.blockquote {
	padding-left: 1em ;
	padding-right: 1em ;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin-left: 2em;
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color:#ffffff;
	font-style: italic;
}

span.link-gliph {
		font-size:1.4em;
}
span.decorator-gliph {
	text-decoration: none;
}

pre div {
	line-height: 0em;
	border-width: 0em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


div.bullet {
  padding-left: 1.2em ;
  text-indent: -0.9em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 

div.gemini-link {
  padding-left: 1.2em ;
  text-indent: -1.6em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 

div.other-link {
  padding-left: 1.2em ;
  text-indent: -1.9em ;
  margin-left:0.3em;
  margin-top:0.15em;
} 

pre.inline {
	font-family:Consolas, Courier;
	border-width:1px;
	padding:0.7em;
	margin:0.7em;
	border-style: solid;
	border-color:#a0a0a0;
	overflow-x: auto;
	overflow-y:hidden;
	padding-bottom:1.3em;	/*to allow space for scroll bar to appear if necessary*/
	padding-top:1.3em;	/*same as for bottom for visual balance*/
	min-width:70%;
}