<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GemiNaut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GeminiNaut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GemiNaut.Properties.Settings>
            <setting name="HomeUrl" serializeAs="String">
                <value>gemini://gemini.circumlunar.space/</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Fabric (site specific themes)</value>
            </setting>
            <setting name="Bookmarks" serializeAs="String">
                <value>=&gt; gemini://gemini.marmaladefoo.com/geminaut GemNaut home page
=&gt; gemini://gemini.circumlunar.space/ Gemini project home page
=&gt; gemini://gus.guru/ GUS search engine</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </GemiNaut.Properties.Settings>
    </userSettings>
</configuration>